body {

    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

h1 {

    font-size: 50px;
}

.theme-color {

    color: #AE4E58;
}

.orange-color {


    color: #FFBB23;
}

.flexible-container {

    display: flex;
    margin-bottom: 150px;
}

.half-width {


    width: 50%;
    padding-left: 8%;

}

.half-width img {


    width: 50%;

}


.link-button {



    text-decoration: none;
    background-color: #AE4E58;
    color: white;
    padding: 10px 10px;
    border-radius: 30%;
    background-clip: content-box, padding-box;
    border-style: dotted;

}


.top-banner {


    background-image: url(images/Untitled\ design\ \(1\).png);
    background-size: 95%;
    background-repeat: no-repeat;
}


.section-2 {


    background-image: url(images/dream-bg.png);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: right;
}


.section-2 img {}



.section-3-item {


    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px darkgrey;


}


#color1 {


    border-left: 7px solid #AE4E58;
}


#color2 {


    border-left: 7px solid #FFBB23;
}



.footer {


    text-align: center;
}